* {
    box-sizing: border-box;
}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto_Sans/NotoSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto_Sans/NotoSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;

}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto_Sans/NotoSans-Italic.ttf');
    font-weight: 400;
    font-style: italic;

}
@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/Noto_Sans/NotoSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-Black.ttf');
    font-weight: 900;
    font-style: normal;

}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;

}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-Bold.ttf');
    font-weight: 700;
    font-style: normal;

}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;

}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;

}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;

}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;

}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-ExtraLightItalic.ttf');
    font-weight: 200;
    font-style: italic;

}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-Italic.ttf');
    font-weight: 400;
    font-style: italic;

}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-Light.ttf');
    font-weight: 300;
    font-style: normal;

}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;

}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-Regular.ttf');
    font-weight: 400;
    font-style: normal;

}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'Nunito Sans';
    src: url('../fonts/Nunito_Sans/NunitoSans-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;

}

body{font-family: 'Nunito Sans', sans-serif !important; font-weight: 400 !important;}
.wrapper{ width:100%;}
img{max-width: 100%;}
.img-fluid{width: 100% !important;}
ul{list-style: none;}
.relative{position: relative;}
.absolute{position: absolute;}
#logo img {height: 60px;}
.navbar-header {background-color: #d90000;}
.menu-header li {padding-right: 30px;}
.menu-header li a {color: #fff !important;font-size: 16px;font-weight: 700;}
.menu-header li a:hover {color: #3d3d3d !important;transition: 0.5s;}
.login > button {background-color: #3d3d3d !important;border-color: #3d3d3d !important;font-size: 16px;font-weight: 700;border-radius: 0;}
.login > button:focus{box-shadow: none !important;}
.login > button:hover {background-color: #fff !important;border-color: #fff !important;color: #d90000;transition: 0.5s;}
.img-banner img {height: 600px;object-fit: cover;}
.intro-banner {top: 50%;left: 50%;transform: translate(-50%,-50%);}
.box-banner {background: #fff;border: solid 1px #fff;border-radius: 5px;padding: 32px;width: 400px;}
.box-banner h1 {color: #000;font-size: 30px;font-weight: 700;}
.btn-sell{margin-top: 20px; text-align: center;}
.btn-sell button {padding: 8px 25px;background-color: #d90000 !important;border: solid 1px #d90000;border-radius: 0;color: #fff;font-size: 16px;}
.btn-sell button:focus{box-shadow: none !important;}
.btn-sell button:hover {border-color: #d90000 !important;background-color: #fff !important;color: #d90000 !important;}
.article-populaire {padding: 70px 0;}
.title-page h2 {color: #3d3d3d;font-size: 35px;font-weight: 700;}
.content-article {padding: 10px;background: #d90000;}
.name-article {margin-top: 20px;}
.name-article h3 {color: #fff;font-size: 20px;font-weight: 700;}
.price h4 {color: #fff;font-size: 18px;font-weight: 700;margin-bottom: 0;}
.price a {text-decoration: none !important;color: #6df3c2 !important;}
.price h5 {font-size: 14px;display: inline-block;}
.price a span {font-size: 14px;}
.see-more {/*text-align: center;*/margin: 20px 0; display: inline-block;}
.see-more a {color: #fff;border: solid 1px #fff !important;padding: 7px 15px;text-decoration: none !important;}
.see-more a:hover {border: solid 1px #3d3d3d !important;background: #3d3d3d;transition: 0.5s;color: #fff !important;}
.img-article img {height: 235px;object-fit: cover;}
.list-populaire .col-md-3 {margin-top: 50px;}
.footer {background: #3d3d3d;}
.content-footer{padding: 70px 0;}
.title-footer {color: #fff;font-size: 20px;font-weight: 900;text-transform: uppercase;position: relative;}
.title-footer::after{    content: "";background: #d90000;width: 25%;height: 2px;position: absolute;bottom: 8px;left: 43%;}
.about-mdg ul {padding: 0; margin: 0;}
.about-mdg ul li {margin-bottom: 10px;}
.about-mdg ul li a {font-size: 16px;color: #fff;}
.about-mdg {margin-top: 20px;}
.about-mdg p {color: #fff;font-size: 16px;}
.reseau-socio li {margin-bottom: 10px;display: inline-block;padding-right: 30px;}
.info-utiles ul > li {margin-bottom: 20px;}
.info-utiles ul li > svg, .info-utiles ul li > span {color: #d90000; font-size: 16px;}
.reseau-socio li a {color: #fff;border: solid 1px #D90000;background: #D90000;border-radius: 50%;display: inline-block;width: 40px;height: 40px;padding-top: 8px;transition: 0.5s;text-align: center;}
.reseau-socio li a:hover{background: #fff; color: #D90000;border: solid 1px #fff;}
.modal-backdrop.fade.show {z-index: 1 !important;}
.sign-in {border: solid 1px #d90000 !important; padding: 0 20px;}
.modal-header-sign .close {background: none !important;font-size: 35px;}
.modal-header-sign {border: none !important;}
.sign-in-modal-body h5 {font-size: 30px;color: #3d3d3d;}
.form-sign-in {margin: 25px 0;}
.copyright {background: #252525;padding: 30px 0;}
.content-copyright span, .content-copyright a {color: #fff !important;font-size: 16px;}
.up-header {text-align: right;}
.up-header span {color: #fff;}
.up-header span:first-child {font-size: 14px;}
.icon-up {display: inline-block;margin-left: 10px;cursor: pointer;padding: 0 6px;background: #d90000;}
.icon-up svg {font-size: 25px;padding-top: 2px;}
.profil-user {width: 50px;height: 50px;float: right;margin-top: 6px;}
.profil-user img {border-radius: 50%;border: solid 2px #fff;}
.input-inscription {font-size: 16px;border-radius: 0 !important;}
.input-inscription::placeholder {color: #3d3d3d;}
.input-inscription:focus {box-shadow: none !important;border: solid 1px #d90000 !important;}
.form-sign-in label {color: #3d3d3d;font-size: 15px;}
.btn-inscription {width: 100%;background-color: #d90000 !important;border: solid 1px #d90000 !important; border-radius: 0 !important;}
.btn-inscription:focus{box-shadow: none !important;}
.btn-inscription:hover{background-color: #3d3d3d !important;border-color: #3d3d3d !important; transition: 0.5s;}
.login-form {margin-top: 20px;}
.content-login {margin-top: 20px;}
.forgot-password {margin-top: 20px;}
.modal-header-forgot {border: none !important;}
.modal-content-forgot {border: solid 1px #d90000 !important;}
.forgot-modal {padding: 35px;}
.title-price {width: 100%;text-align: center;}
.title-price h5 {font-size: 16px;color: #000;}
.modal-body-price span {font-size: 15px;}
.article span, .frais-protection span {color: #000;font-weight: 600;}
.desc-frais-livraison {margin-top: 20px;}
.desc-frais-livraison p {margin-bottom: 0;}
.desc-frais-livraison p {margin-bottom: 0;font-size: 14px;}
.overlay {background: rgb(0,0,0,0.7);width: 100%;height: 100%;z-index: 2;}
.content-desc-about {top: 30%;left: 0;right: 0;z-index: 5;}
.desc-about h1 {color: #fff;font-size: 50px;font-weight: 900;margin-bottom: 40px;}
.desc-about p {color: #fff;font-size: 20px;}
.hero-about img {height: 700px;object-fit: cover;}
.about {padding: 70px 0;}